.rainworks-software {
    color: #FFFFFF;
    background-image: linear-gradient(135deg, var(--foreground), var(--accent-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}